* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.btn {
	padding: 14px 39px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	background-color: #fcb72b;
	border: none;
}
