@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'Space Mono', monospace;
}

p {
	font-family: 'Lexend Deca', sans-serif;
}

.btn {
	padding: 14px 39px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	background-color: #fcb72b;
	border: none;
}
